<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.briup.mapper.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.briup.bean.Report" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="IMPORTANCE" property="importance" jdbcType="DECIMAL" />
    <result column="DOB" property="dob" jdbcType="DATE" />
    <result column="PUBLISH" property="publish" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="RANK" property="rank" jdbcType="DECIMAL" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, IMPORTANCE, DOB, PUBLISH, NAME, RANK, DEPARTMENT, CONTENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.briup.bean.ReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from REPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from REPORT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from REPORT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.briup.bean.ReportExample" >
    delete from REPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.briup.bean.Report" >
    <selectKey resultType="java.math.BigDecimal" keyProperty="id" order="BEFORE" >
      select dep_seq.nextVal from dual
    </selectKey>
    insert into REPORT (ID, IMPORTANCE, DOB, 
      PUBLISH, NAME, RANK, 
      DEPARTMENT, CONTENT)
    values (#{id,jdbcType=DECIMAL}, #{importance,jdbcType=DECIMAL}, #{dob,jdbcType=DATE}, 
      #{publish,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{rank,jdbcType=DECIMAL}, 
      #{department,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.bean.Report" >
    <selectKey resultType="java.math.BigDecimal" keyProperty="id" order="BEFORE" >
      select dep_seq.nextVal from dual
    </selectKey>
    insert into REPORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="importance != null" >
        IMPORTANCE,
      </if>
      <if test="dob != null" >
        DOB,
      </if>
      <if test="publish != null" >
        PUBLISH,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="rank != null" >
        RANK,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=DECIMAL},
      <if test="importance != null" >
        #{importance,jdbcType=DECIMAL},
      </if>
      <if test="dob != null" >
        #{dob,jdbcType=DATE},
      </if>
      <if test="publish != null" >
        #{publish,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=DECIMAL},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.briup.bean.ReportExample" resultType="java.lang.Integer" >
    select count(*) from REPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update REPORT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.importance != null" >
        IMPORTANCE = #{record.importance,jdbcType=DECIMAL},
      </if>
      <if test="record.dob != null" >
        DOB = #{record.dob,jdbcType=DATE},
      </if>
      <if test="record.publish != null" >
        PUBLISH = #{record.publish,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null" >
        RANK = #{record.rank,jdbcType=DECIMAL},
      </if>
      <if test="record.department != null" >
        DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update REPORT
    set ID = #{record.id,jdbcType=DECIMAL},
      IMPORTANCE = #{record.importance,jdbcType=DECIMAL},
      DOB = #{record.dob,jdbcType=DATE},
      PUBLISH = #{record.publish,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      RANK = #{record.rank,jdbcType=DECIMAL},
      DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.bean.Report" >
    update REPORT
    <set >
      <if test="importance != null" >
        IMPORTANCE = #{importance,jdbcType=DECIMAL},
      </if>
      <if test="dob != null" >
        DOB = #{dob,jdbcType=DATE},
      </if>
      <if test="publish != null" >
        PUBLISH = #{publish,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        RANK = #{rank,jdbcType=DECIMAL},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.bean.Report" >
    update REPORT
    set IMPORTANCE = #{importance,jdbcType=DECIMAL},
      DOB = #{dob,jdbcType=DATE},
      PUBLISH = #{publish,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      RANK = #{rank,jdbcType=DECIMAL},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>